.piece-link > img {
  max-width: 100%;
  border-radius: 20px;
}

.choose-piece {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  min-height: 150px;
}

.choose-piece > img {
  height: 100%
}

.back-to-closet {
  width: 95%;
}

.piece-container {
  overflow: scroll;
  
}