.piece-link > img {
  max-width: 100%;
  border-radius: 20px;
}

.choose-piece {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  width: 25%;
  height: fit-content;
}

.choose-piece > img {
  width: 80%;
}

.back-to-closet {
  width: 95%;
}

.piece-container {
  max-height: 100%;
  overflow-y: auto;
}