.item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: fadeIn 1s ease-in;
  height: 100vh;
  background: url('/src/images/background-water.png') no-repeat fixed center;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.file-image {
  margin: 15px;
  border-radius: 20px;
  width: 30%;
  min-width: 100px;
  height: 30%;
  object-fit: cover;
}

.upload-img-btn {
  border: none;
  padding: 8px;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  background-color: #eccdc1;
}

.file-upload-default {
  display: none;
}

.notes-input {
  width: 80%;
  height: 20%;
  min-height: 100px;
}

.select-input {
  padding: 10px;
  border-radius: 20px;
  margin: 30px 0;
}

.add-btn {
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  background-color: #eccdc1;
  margin: 30px 0;
}