.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 30%;
  box-shadow: 2px 0px 4px 0px #eccdc1;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-top > .logo-heading {
  margin-right: 0%;
  margin-left: 10%;
}

.link {
  font-size: xx-large;
  margin: 10% 0% 10% 0%;
  text-decoration: none;
  padding: 5%;
  width: 30%;
  text-align: center;
  border-bottom: 1px solid #eccdc1;
}

@media screen and (max-width: 990px) {
  .menu {
    min-width: 40%;
  }

  .link {
    width: 45%;
  }
}

@media screen and (max-width: 740px) {
  .menu {
    width: 100%;
    margin: 0;
  }

  .link {
    width: 60%;
  }
}