.add-cart-btn {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.add-cart-btn > img{
  width: 30px;
}

.form-link {
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  color: black;
  border-radius: 25px;
  /* width: 25%; */
  height: 30%;
  margin: 1%;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}