/* .closet-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-container {
  width: 100%;
  height: 80%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.category {
  background: url('../../images/sparkles.png');
}

.category-text {
  max-width: 100%;
  word-wrap: break-word;
}

.closet-link {
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  color: black;
  border-radius: 25px;
  width: 25%;
  height: 30%;
  margin: 1%;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 880px){
  .closet-link {
    width: 30%;
  }
}