.featured-img {
  border-radius: 180px 180px 0px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-top: 30px;
}

.featured-img-container {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
}

.view-outfit-btn-home {
  /* position: absolute; */
  background-color: #debdac;
  border-radius: 20px;
  color: black;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity .35s ease;
}

.view-outfit-link {
  position: absolute;
}

.featured-img-container:hover .view-outfit-btn-home {
  opacity: 1;
}

.homepage-container {
  display: flex;
  justify-content: center;
  background-color: #eccdc1;
  height: 100vh;
  /* margin-top: 5px; */
  background-image: url('../../images/background.png');
  background-size: cover;
  background-repeat: no-repeat ;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* overflow: hidden;  */
}

.home-logo {
  width: 40%;
  object-fit: contain;
}

.featured-img-text {
  font-size: 1.7rem;
  text-align: center;
}

@media (max-width: 1300px) {
  .featured-img-container {
    width: 50%;
  }

  .home-logo {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .featured-img-text {
    font-size: 1.3rem;
  }
}