.featured-img {
  border-radius: 250px 250px 0px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 500px;
  margin-top: 30px;
  object-fit: cover;
}

.featured-img-container {
  width: 500px;
  height: 500px;
  border-radius: 250px 250px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
  background-color:#00000000;
  margin: 0;
  cursor: pointer;
}

.view-outfit-btn-home {
  background-color: #debdac;
  border-radius: 20px;
  color: black;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity .35s ease;
}

.view-outfit-link {
  position: absolute;
}


.featured-piece-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featured-img-container:hover .view-outfit-btn-home {
  opacity: 1;
}

.featured-pieces-container :hover .view-outfit-btn-home {
  opacity: 1;
}

.homepage-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  animation: fadeIn 1s ease-in;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home-logo {
  width: 40%;
  object-fit: contain;
}

.featured-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.featured-pieces-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 550px;
  height: 500px;
  border-radius: 10px;
  background-color: #fadcd1;
  position:relative;
}

.featured-img-text {
  font-size: 1.7rem;
  text-align: center;
  width: 410px;
  max-width: 100%;
}

.featured-piece {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.piece-0 {
  border-top-left-radius:  30px;
}

.piece-1 {
  border-top-right-radius: 30px;
}

.piece-2 {
  border-bottom-left-radius: 30px;
}

.piece-3 {
  border-bottom-right-radius: 30px
}

.featured-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f7f2eb;
}

.featured-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fadcd1;
}

.modal-open-featured {
  border-radius: 180px 180px 0px 0px;
  margin: 0;
  height: 350px;
  width: 350px;
}

.modal-open-featured-piece {
  height: 160px; 
  width: 160px;
  object-fit: cover;
}

.column-flex {
  flex-direction: column;
}

@media (max-width: 1200px) {
  .featured-piece {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .featured-pieces-container {
    width: 350px;
  }

  .featured-img, .featured-img-container {
    border-radius: 180px 180px 0px 0px;
    margin: 0;
    height: 300px;
    width: 300px;
  }

}

@media (max-width: 900px) {
  .featured-left, .featured-right {
    max-height: 50%;
  }

  .featured-img-text {
    font-size: 1.3rem;
  }
  
  .featured-container {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
  }

  .home-logo {
    width: 50%;
  }

  .featured-img, .featured-img-container {
    border-radius: 180px 180px 0px 0px;
    height: 36vh;
    width: 36vh;
  }
    .featured-piece {
    width: 18vh;
    height: 18vh;
    object-fit: cover;
  }

  .featured-pieces-container {
    width: 36vh;
    background-color: none;
  }
}

@media screen and (max-width: 400px) {
  .featured-img-text {
    font-size: 16px;
  }
  /* .featured-piece {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .featured-pieces-container {
    width: 200px;
    background-color: none;
  } */

  /* .featured-img, .featured-img-container {
    border-radius: 180px 180px 0px 0px;
    margin: 0;
    height: 200px;
    width: 200px;
  } */
}