nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
  width: 100%;
  height: min-content;
  box-shadow: 0px 4px 4px 0px #eccdc1
}

.login-container, .menu-nav-btn {
  width: 20vw;
}

.logo-heading {
  font-family: 'Sacramento', cursive;
  font-size: xxx-large;
  margin: 0.5% 1% 0.3% 1%;
  text-align: center; 
  font-weight: 700;
}

h1.logo-heading {
  flex: 1;
}

.login-container {
  display: flex;
  align-items: center;
  height: 60px;
  word-wrap: break-word;
  margin: 0px 10px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.user-icon {
  height: 25px;
}

.login-text {
  font-size: .9rem;
  text-align: center;
  margin: 0;
}

.construction-marquee {
  background-color: #eccdc1;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    word-wrap: break-word;
  }

  .login-text {
    font-size: .7rem;
  }

  .login-container{
    width: 25vw;
  }

  .logo-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .logo-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 300px) {
  .logo-heading {
    font-size: 25px;
  }
}