nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
  width: 100%;
  height: min-content;
  box-shadow: 0px 4px 4px 0px #eccdc1
}

.logo-heading {
  font-family: 'Sacramento', cursive;
  font-size: xxx-large;
  margin: 0.5% 1% 0.3% 1%;
  flex: 1;
  text-align: center; 
}

.login-container {
  display: flex;
  align-items: center;
  height: 60px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.user-icon {
  height: 25px;
  margin: 10px;
}

.login-text {
  margin-right: 10px;
  font-size: .9rem;
}

.construction-marquee {
  background-color: #eccdc1;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    word-wrap: break-word;
  }

  .login-text {
    margin: 0px 10px 0 10px;
    font-size: .7rem;
  }
}