.loading-page {
  width: 100%;
  height: 100vh;
  background: url('/src/images/background-water.png') no-repeat fixed center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.loading-page img {
  margin-top: 50px;
}