.outfit-page {
  height: 80vh;
  width: 100%;
}

.outfit-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.page-title-short {
  width: 150px;
  font-size: 1.5rem;
  text-align: center;
}

.piece-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece-image {
  width: 220px;
  border-radius: 20px;
  margin: 10px;
}

.pieces-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 60px 20px;

}

.back-icon-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0% 30% 0% 30%;
}

.delete-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.delete-button {
  margin: 15px;
  border: none;
  padding: 15px;
  border-radius: 20px;
  min-width: 10%;
  max-width: 250px;
  text-align: center;
  cursor: pointer;
  background-color: #eccdc1;
  text-decoration: none;
  color: black;
  font-size: large;
}

.delete-warning {
  width: 50%;
  height: 130px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #f7f2eb;
  padding: 20px;
}

.delete-warning-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.success-text {
  font-size: 1.2rem;
}

.modal-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.back-btn {
  width: 140px;
  height: 45px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20%;
  min-height: 100px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid black;
}

.pieces-scroll {
  width: 60%;
  max-width: 1500px;
  height: 80%;
  min-height: 200px;
  display: flex; 
  align-items: center;
  overflow-x: auto;
  background-color: #eccdc166;
  border: 3px solid #eccdc1;
  border-radius: 25px;
  padding: 3%;
  margin: 3%;
}


@media (max-width: 900px) {
  .outfit-details-container {
    flex-direction: column;
  }

  .pieces-container {
    flex-direction: column;
  }

  .pieces-scroll {
    flex-direction: column;
  }

  .notes {
    width: 65%;
    height: 20%;
  }

  .piece-image {
    width: 90%;
  }
}