*{
  font-family: 'Libre Baskerville', serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-btn {
  background-color: #00000000;
  border: none;
  color: black;
}

.page-title {
  padding: 1%;
  border-bottom: 5px double #eccdc1;
}

.closet-page, .category-page {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-container, .piece-container {
  width: 100%;
  height: 80%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}