*{
  font-family: 'Libre Baskerville', serif;
}

html {
  height: 100%;
  margin: 0;
  width: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;

}

h1, h2, a {
  text-align: center;
}

.menu-btn, .menu-nav-btn {
  background-color: #00000000;
  border: none;
  color: black;
}

.menu-nav-btn {
  display: flex;
}


.page-title {
  padding: 1%;
  border-bottom: 5px double #eccdc1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #debdac;
  border-radius: 25px;
}

.login-prompt {
  font-size: 2rem;
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: black;
}


@media screen and (max-width: 400px) {
  .menu-btn img, .menu-nav-btn img {
    width: 35px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
